<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="product">

      <div class="product-info">
        <h2>{{ `${product} cool huh?` }}</h2>
        <p>{{ description }}</p>
      </div>

      <div class="product-image">
          <a :href="link">
          <img v-if="horizontal" v-bind:src="horImage" v-bind:alt="altText"/>
          <img v-else v-bind:src="vertImage" v-bind:alt="altText"/>
          </a>
        </div>
        <p v-if="horizontal">Horizontal Pants</p>
        <p v-else>Vertical Pants</p>

    </div>
  </div>

<script src="http://unpkg.com/vue"></script>
<script src="script.js"></script>
</body>
</html>
